@media (max-width: 419.98px) {
    html,body{
        background-color: aqua
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 100%;
    }
}

@media (min-width: 420px) and (max-width: 575.98px) {
    html,body{
        background-color: red
    }
    .container{
        margin: 0 10px;
    }
    .col{
        width: 50%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    html,body{
        background-color: green
    }
    .container{
        margin: 0 5%;
    }
    .col{
        width: 33.333333%;
    }
}

@media (min-width: 768px) and (max-width: 1199.98px) {
    html,body{
        background-color: black
    }
    .container{
        margin: 0 5%;
    }
    .col{
        width: 25%;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    html,body{
        background-color: blue
    }
    .container{
        margin: 0 10%;
    }
    .col{
        width: 25%;
    }

}
@media (min-width: 1400px) and (max-width: 1599.98px) {
    html,body{
        background-color: violet
    }
    .container{
        margin: 0 12%;
    }
    .col{
        width: 20%;
    }
}
@media (min-width: 1600px)  {
    html,body{
        background-color: yellow
    }

    .container{
        margin: 0 15%;
    }
    .col{
        width: 16.666667%;
    }
}

#album img{
    width: 100%;
    height: 10rem;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
#album .item {
    margin: .25rem;
    padding: .25rem;
    border: 5px solid black;
    border-radius: 15px;
    overflow: hidden;
}
#album .item img {
    border-radius: 15px;
}

#album .item img:hover {
   transform: scale(1.5);
    transition: all 3s;
    cursor: pointer;
}
